.catalog {
  padding: 60px;

  &__container {
    display: grid;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #444B58;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  &__left {
    padding: 20px;
    background-color: #fff4ee;
    catalog-left: 4px;
    grid-column: 3 span;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    color: #444b58;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }

  &__caption {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #444b58;
  }

  &__grid {
    grid-column: 9 span;
    margin-bottom: 20px;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;

    &__item {
      grid-column: 3 span;
    }
  }
}

.catalog-price {
  &__wrapper {
    display: flex;
    position: relative;
    border-bottom: #444B58;

    &::before {
      width: 1px;
      position: absolute;
      content: "";
      background-color: #B2B5BB;
      left: 50%;
      height: 34px;
      top: 8px;
      bottom: 8px;
    }
  }

  &__input {
    height: 50px;
    background-color: #fff4ee;
    border: 1px solid #B2B5BB;
    width: 50%;

    &:first-child {
      border-right: none;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-left: none;
      border-top-right-radius: 4px;
    }
  }
}

.custom-checkbox {
  padding-left: 32px;

  &__field {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: none;
  }

  &__content {
    &::before {
      width: 24px;
      height: 24px;
      border: 1px solid #DBBBA9;
      border-radius: 4px;
    }
  }
}
