.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--color-eastbay);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    align-items: center;
  }

  &__left {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }
}
