.header {
  background-color: var(--color-eastbay);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    justify-content: space-between;
  }
}
