.product {
  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btns {
    position: absolute;
  }

  &__btn {
    margin: 0;
    padding: 0;
    border-radius: 100%;
    border: none;
    background-color: #444B58;
    width: 80px;
    height: 80px;

    &:first-child {
      margin-right: 40px;
    }

    svg {
      width: 30px;
      height: 30px;
      object-fit: cover;
      fill: var(--light-color);
    }
  }
}
