<section class="catalog">
  <div class="container catalog__container">
    <h1 class="catalog__title">Каталог</h1>
    <div class="catalog__content">
      <div class="catalog__left">1</div>
      <div class="catalog__grid">
        <ul class="catalog-list">
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/svg/product-1.svg" alt="" />
                <div class="product__btns">
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#eye"></use>
                    </svg>
                  </button>
                  <button class="product__btn">
                    <svg class="">
                      <use xlink:href="img/sprite.svg#product-cart"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="product__title">Кроссовки Nike Air Force 1 '07 QS</h3>
              <span class="product__price">11 000 р</span>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
